// Blog
.blog {
  // Category
  .category {
    // Category Items
    .c-item {
      height: 60px;
      line-height: 60px;
      text-shadow: 0 5px 10px #00000060;
      border-radius: 5px;
      font-size: 1.2em;
      background-size: cover;
      &.rice {
        background: url(../img/bc-rice.png) no-repeat left center;
      }
    }
  }
}
