// Dashboard
.dashboard {
  height: 100%;

  // Body
  & > body {
    height: 100%;
  }

  // Page Header
  .pages-header {
    border-bottom: 1px solid #eee;
  }

  // Main
  .dash-main {
    // Navigator
    .dash-nav {
      padding: 0 10px;

      .nav-item {
        transition: 0.3s;
        & > .icon {
          margin-left: 8px;
          &.favorites {
            color: #f44336;
          }

          &.orders {
            color: #03a9f4;
          }

          &.home {
            color: #4caf50;
          }

          &.information {
            color: #009688;
          }

          &.password {
            color: #8bc34a;
          }

          &.addresses {
            color: #673ab7;
          }

          &.logout {
            color: #ff5722;
          }

          &.support {
            color: #3f51b5;
          }
        }

        &.logout-btn {
          padding: 0;
        }
      }
    }

    // Content
    .dash-content {
      background: $bg-body;
    }
  }

  .nav-item {
    transition: 0.3s;
    & > .icon {
      margin-left: 8px;
    }

    &.logout-btn {
      padding: 0;
    }
  }

  // Icons Colors
  .icon {
    &.favorites {
      color: #f44336;
    }

    &.orders {
      color: #03a9f4;
    }

    &.home {
      color: #4caf50;
    }

    &.information {
      color: #009688;
    }

    &.password {
      color: #8bc34a;
    }

    &.addresses {
      color: #673ab7;
    }

    &.logout {
      color: #ff5722;
    }

    &.support {
      color: #3f51b5;
    }
  }

  .address-item {
    border-radius: 5px;
    border: 1px solid #9fa8da;

    .options {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .reply-form {
    height: 0;
    transition: 0.3s;
    overflow-y: hidden;
    &.open {
      height: auto;
      overflow-y: inherit;
    }
  }

  .dash-item {
    height: 100px;

    &::before {
      position: absolute;
      font-size: 5em;
      bottom: -0.2em;
      left: -0.2em;
      transform: rotate(10deg);
    }

    &.sale {
      background: #7cb342;
      color: #f1f8e9;
      &::before {
        color: #aed581;
      }
    }

    &.balance {
      background: #03a9f4;
      color: #e1f5fe;
      &::before {
        color: #4fc3f7;
      }
    }

    &.amount {
      background: #d81b60;
      color: #fce4ec;
      &::before {
        color: #f06292;
      }
    }
  }
}

.di-list {
  -webkit-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}
