@media only screen and (min-width: 767.99px) {
  // Pages Header
  .pages-header {
    .navbar.active {
      top: 0;
    }
  }

  // Index
  .index {
    // Introduction
    .intro {
      .slide-text {
        font-size: 4em;
      }
    }
  }

  // Register
  .register {
    .register-header {
      width: 40%;
    }
  }

  // Contact Us
  .contact-us {
    .content {
      background: url(../img/contactus-bg.png) no-repeat bottom center;
      background-size: auto 80%;
    }
  }

  // Products
  .products {
    // Filter
    .filters {
      border: 1px solid #eee;
      border-radius: 5px;
      .categories {
        padding: 20px;
      }
    }

    // Result
    .result {
      // Search Box
      .p-search-box {
        width: 70%;
      }
    }

    // Filter Button
    .filter-btn {
      border-radius: 5px 5px 0 0;
    }
  }

  // Product Details
  .product-details {
    // Features
    .product-features {
      & > .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    // Seller Other Products
    .other-products {
      // Header
      .section-header {
        margin-bottom: 70px;
      }

      // Farmer's Product
      .farmer-products {
        transform: translateY(-50px);
      }
    }
  }

  // Dashboard
  .dashboard {
    .dash-main {
      height: 100vh;
      margin-top: 59px;
      height: calc(100vh - 59px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .navigator,
      .dash-content {
        float: right;
      }

      // Navigator
      .dash-nav {
        display: flex;
        align-items: start;
        border-left: 1px solid #eee;
        width: 200px;
        height: calc(100% - 20px);
        overflow-y: auto;
        padding-top: 20px;
        padding-bottom: 20px;

        .nav-item {
          display: flex;
          justify-content: start;
          align-items: center;
          width: 100%;
          text-align: center;

          &:hover,
          &.active {
            padding-right: 10px !important;
          }

          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }

      // Content
      .dash-content {
        padding: 50px;
        overflow-y: auto;
        width: calc(100% - 200px);
        height: 100%;
      }
    }

    .home {
      .user-information {
        .ui-item {
          border-bottom: 1px solid #eee;
          &:nth-child(2n-1) {
            border-left: 1px solid #eee;
          }
        }
      }
    }

    .address-item {
      .options {
        align-items: center;
      }
    }
  }
}
