@media only screen and (max-width: 991.99px) {
  // Pages Header
  .pages-header {
    height: 118px;
    &.active {
      background: #fff;
      top: 0;
    }

    &:not(.intro-header) {
      background: #fff;
    }
    & + section {
      margin-top: 150px;
    }

    .navbar-collapse {
      transition: 0.3s;
      position: fixed;
      top: 0;
      width: 50vw;
      background: #fff;
      height: 100vh !important;
      box-shadow: -10px 5px 30px #00000015;
      padding: 20px;
      text-align: right;
      z-index: 650;
      &:not(.collapse) {
        right: -55vw;
      }
      &.collapse {
        right: 0;
      }
    }

    &.intro-header {
      .navbar-collapse {
        .nav-link {
          color: #666 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.99px) {
  // Register
  .register {
    .register-header {
      width: 80%;
    }
  }

  // Products
  .products {
    // Filters
    .filters {
      padding: 50px 20px 20px 20px;
      background: #ffffff;
      position: absolute;
      top: -100px;
      right: -100vw;
      transition: 0.3s;
      z-index: 550;
      width: 100vw;
      height: 100vh;

      // Categories
      .categories {
        height: calc(100vh - 110px);
        overflow-y: auto;
      }

      // Close Button
      .close-btn {
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
        font-size: 2em;
      }

      // Submit Button
      .submit-btn {
        bottom: 0;
        left: 0;
        height: 60px;
      }

      &.open {
        right: 0;
      }
    }

    // Result
    .result {
      // Search Box
      .p-search-box {
        width: 90%;
      }
    }

    // Filter Button
    .filter-btn {
      border-radius: 5px;
    }
  }
}
