// Fonts
$ir-l: iransans-light;
$ir-r: iransans-regular;
$ir-m: iransans-medium;
$ir-b: iransans-bold;
$k-r: kalameh-regular;
$k-b: kalameh-bold;
$k-bl: kalameh-black;

// Colors
$primary: #2196f3;
$green: #4caf50;
$form-label: #0d47a1;
$grey-3: #cccccc;

// Backgrounds
$bg-body: #fafafa;
$bg-footer: #f6f6f6;
