@font-face {
  font-family: "tilda-dashboard";
  src: url("fonts/tilda-dashboard.eot?h4ijxm");
  src: url("fonts/tilda-dashboard.eot?h4ijxm#iefix") format("embedded-opentype"),
    url("fonts/tilda-dashboard.ttf?h4ijxm") format("truetype"),
    url("fonts/tilda-dashboard.woff?h4ijxm") format("woff"),
    url("fonts/tilda-dashboard.svg?h4ijxm#tilda-dashboard") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i,
div {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "tilda-dashboard" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.di-payment:before {
  content: "\e926";
}
.di-megaphone:before {
  content: "\e912";
}
.di-p-heart-o:before {
  content: "\e90e";
}
.di-p-heart:before {
  content: "\e90f";
}
.di-star-o:before {
  content: "\e90c";
}
.di-star:before {
  content: "\e90d";
}
.di-clear:before {
  content: "\e90b";
}
.di-cart:before {
  content: "\e90a";
}
.di-search:before {
  content: "\e909";
}
.di-chevron-up:before {
  content: "\e916";
}
.di-chevrons-down:before {
  content: "\e917";
}
.di-chevrons-left:before {
  content: "\e918";
}
.di-chevrons-right:before {
  content: "\e919";
}
.di-chevrons-up:before {
  content: "\e91a";
}
.di-chrome:before {
  content: "\e91b";
}
.di-circle:before {
  content: "\e91c";
}
.di-clipboard:before {
  content: "\e91d";
}
.di-codepen:before {
  content: "\e91e";
}
.di-codesandbox:before {
  content: "\e91f";
}
.di-coffee:before {
  content: "\e920";
}
.di-columns:before {
  content: "\e921";
}
.di-command:before {
  content: "\e922";
}
.di-compass:before {
  content: "\e923";
}
.di-copy:before {
  content: "\e924";
}
.di-corner-down-left:before {
  content: "\e925";
}
.di-credit-card:before {
  content: "\e910";
}
.di-dollar-sign:before {
  content: "\e911";
}
.di-headphones:before {
  content: "\e908";
}
.di-heart:before {
  content: "\e904";
}
.di-key:before {
  content: "\e905";
}
.di-log-out:before {
  content: "\e906";
}
.di-message-square:before {
  content: "\e913";
}
.di-shopping-bag:before {
  content: "\e914";
}
.di-upload:before {
  content: "\e915";
}
.di-user:before {
  content: "\e907";
}
.di-map-pin:before {
  content: "\e903";
}
.di-home:before {
  content: "\e902";
}
.di-list:before {
  content: "\e901";
}
.di-menu:before {
  content: "\e900";
}
