/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
.pages-header {
  z-index: 500;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.pages-header .navbar-toggler:focus {
  outline: none !important;
  border: none !important;
}
.pages-header .navbar {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pages-header .navbar .nav-link {
  color: #666;
}
.pages-header .dropdown-menu {
  left: auto;
  right: 0;
  top: calc(100% + 6px);
}
.pages-header .buttons .login-btn {
  margin-top: 10.5px;
}
.pages-header .buttons .icon {
  line-height: 59px;
  font-size: 1.5em;
}
.pages-header .buttons .cart-btn .counter {
  background: #4caf50;
  width: 20px;
  height: 20px;
  top: 5px;
  right: -5px;
  line-height: 20px;
}
.pages-header .search-box {
  height: 59px;
  top: -100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pages-header .search-box .search-input {
  width: calc(100% - 59px);
}
.pages-header .search-box .close-btn {
  width: 59px;
  height: 59px;
  line-height: 59px;
  font-size: 1.5em;
}
.pages-header .search-box.active {
  top: 0;
}
.pages-header.active {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 5px 5px 15px #00000015;
  box-shadow: 5px 5px 15px #00000015;
}

.login-modal .modal-title {
  font-size: 2em;
}

.pages-footer .trust-links .trust-item {
  width: 30%;
}
.pages-footer .trust-links .trust-item:not(:nth-child(3n)) {
  margin-left: 5%;
}

.index .intro {
  height: calc(100vh - 100px);
}
.index .intro .pages-header,
.index .intro .intro-carousel {
  top: 0;
  left: 0;
}
.index .intro .pages-header {
  z-index: 500;
}
.index .intro .pages-header .navbar .nav-link {
  color: #ffffff;
}
.index .intro .pages-header.active .nav-link {
  color: #666 !important;
}
.index .intro .intro-carousel {
  bottom: 0;
  left: 0;
  z-index: 250;
}
.index .intro .intro-carousel .owl-nav button[role="presentation"] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  font-size: 4em;
}
.index .intro .intro-carousel .owl-nav button[role="presentation"].owl-next {
  left: 10px;
}
.index .intro .intro-carousel .owl-nav button[role="presentation"].owl-prev {
  right: 10px;
}
.index .intro .intro-carousel .item {
  background-size: cover !important;
  height: calc(100vh - 100px);
}
.index .intro .intro-carousel .item .slide-text {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  text-shadow: 0 5px 15px #00000030;
}
.index .intro .intro-carousel .item.slide-1 {
  background: url(../img/index-slide-1.png) no-repeat center;
}
.index .intro .intro-carousel .item.slide-2 {
  background: url(../img/index-slide-2.png) no-repeat center;
}
.index .intro .intro-category {
  z-index: 250;
  width: 500px;
  height: 100px;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
}
.index .intro .intro-category .ic-item {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-size: cover;
  text-shadow: 0 2px 5px #00000050;
  -webkit-box-shadow: 5px 5px 15px #00000015;
  box-shadow: 5px 5px 15px #00000015;
}
.index .intro .intro-category .ic-item.tarom {
  background: url(../img/tarom.jpg);
}

.register .steps-holder .line {
  background: #2196f3;
  height: 3px;
  left: 0;
  bottom: 8px;
  z-index: -20;
}
.register .steps-holder .step .bullet {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 3px solid #2196f3;
  background: #ffffff;
}
.register .steps-holder .step.active .bullet {
  background: #2196f3;
}
.register .holder {
  -webkit-box-shadow: 5px 5px 15px #99999915;
  box-shadow: 5px 5px 15px #99999915;
}
.register .holder .step-content {
  height: 0;
  overflow: hidden;
}
.register .holder .step-content.active {
  height: auto;
  overflow: inherit;
}

.products .result .header {
  height: 200px;
  background: url(../img/products-page-header.png) no-repeat center;
  background-size: cover;
  border-radius: 5px;
}
.products .result .header .p-search-box .s-input {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 40px;
  border-radius: 2.5px;
  -webkit-box-shadow: 5px 5px 15px #00000015;
  box-shadow: 5px 5px 15px #00000015;
}
.products .result .header .p-search-box .s-btn {
  font-size: 1.5em;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.products .filter-btn {
  height: 40px;
  line-height: 40px;
}

.product-details .other-products .section-header {
  margin-bottom: 70px;
}
.product-details .other-products .farmer-bio {
  -webkit-box-shadow: 5px 5px 15px #99999920;
  box-shadow: 5px 5px 15px #99999920;
  border-radius: 5px;
  padding: 60px 20px 20px 20px;
}
.product-details .other-products .farmer-bio .farmer-img {
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

.blog .category .c-item {
  height: 60px;
  line-height: 60px;
  text-shadow: 0 5px 10px #00000060;
  border-radius: 5px;
  font-size: 1.2em;
  background-size: cover;
}
.blog .category .c-item.rice {
  background: url(../img/bc-rice.png) no-repeat left center;
}

.cart .q-btn {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #333;
}
.cart .q-input {
  width: 50px;
}

.checkout .address-forms {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0;
  height: 0;
  overflow-y: hidden;
}
.checkout .address-forms.active {
  margin-top: 1rem;
  height: auto;
  overflow-y: inherit;
}
.checkout .discount input {
  border-radius: 0 5px 5px 0;
}
.checkout .discount button {
  border-radius: 5px 0 0 5px;
}

.contact-us .connection-way .icon,
.ticketing .connection-way .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 15px #99999920;
  box-shadow: 5px 5px 15px #99999920;
}
.contact-us .connection-way .link,
.ticketing .connection-way .link {
  font-size: 1em;
  line-height: 1.5em;
}

.dashboard {
  height: 100%;
}
.dashboard > body {
  height: 100%;
}
.dashboard .pages-header {
  border-bottom: 1px solid #eee;
}
.dashboard .dash-main .dash-nav {
  padding: 0 10px;
}
.dashboard .dash-main .dash-nav .nav-item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dashboard .dash-main .dash-nav .nav-item > .icon {
  margin-left: 8px;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.favorites {
  color: #f44336;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.orders {
  color: #03a9f4;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.home {
  color: #4caf50;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.information {
  color: #009688;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.password {
  color: #8bc34a;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.addresses {
  color: #673ab7;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.logout {
  color: #ff5722;
}
.dashboard .dash-main .dash-nav .nav-item > .icon.support {
  color: #3f51b5;
}
.dashboard .dash-main .dash-nav .nav-item.logout-btn {
  padding: 0;
}
.dashboard .dash-main .dash-content {
  background: #fafafa;
}
.dashboard .nav-item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dashboard .nav-item > .icon {
  margin-left: 8px;
}
.dashboard .nav-item.logout-btn {
  padding: 0;
}
.dashboard .icon.favorites {
  color: #f44336;
}
.dashboard .icon.orders {
  color: #03a9f4;
}
.dashboard .icon.home {
  color: #4caf50;
}
.dashboard .icon.information {
  color: #009688;
}
.dashboard .icon.password {
  color: #8bc34a;
}
.dashboard .icon.addresses {
  color: #673ab7;
}
.dashboard .icon.logout {
  color: #ff5722;
}
.dashboard .icon.support {
  color: #3f51b5;
}
.dashboard .address-item {
  border-radius: 5px;
  border: 1px solid #9fa8da;
}
.dashboard .address-item .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.dashboard .reply-form {
  height: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow-y: hidden;
}
.dashboard .reply-form.open {
  height: auto;
  overflow-y: inherit;
}
.dashboard .dash-item {
  height: 100px;
}
.dashboard .dash-item::before {
  position: absolute;
  font-size: 5em;
  bottom: -0.2em;
  left: -0.2em;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.dashboard .dash-item.sale {
  background: #7cb342;
  color: #f1f8e9;
}
.dashboard .dash-item.sale::before {
  color: #aed581;
}
.dashboard .dash-item.balance {
  background: #03a9f4;
  color: #e1f5fe;
}
.dashboard .dash-item.balance::before {
  color: #4fc3f7;
}
.dashboard .dash-item.amount {
  background: #d81b60;
  color: #fce4ec;
}
.dashboard .dash-item.amount::before {
  color: #f06292;
}

.di-list {
  -webkit-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

.page-404 {
  width: 60%;
  padding: 20px;
}
.page-404 .error-header {
  width: 70%;
  border-radius: 5px;
  height: 200px;
  line-height: 200px;
  background: url(../img/error-404.jpg) no-repeat bottom right;
  background-size: cover;
  font-size: 4em;
  text-shadow: 0 3px 5px #00000050;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.2em;
}

@media only screen and (max-width: 991.99px) {
  .pages-header {
    height: 118px;
  }
  .pages-header.active {
    background: #fff;
    top: 0;
  }
  .pages-header:not(.intro-header) {
    background: #fff;
  }
  .pages-header + section {
    margin-top: 150px;
  }
  .pages-header .navbar-collapse {
    overflow-y: auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    top: 0;
    width: 70vw;
    background: #fff;
    height: 100vh !important;
    -webkit-box-shadow: -10px 5px 30px #00000015;
    box-shadow: -10px 5px 30px #00000015;
    padding: 20px;
    text-align: right;
    z-index: 650;
  }
  .pages-header .navbar-collapse:not(.collapse) {
    right: -55vw;
  }
  .pages-header .navbar-collapse.collapse {
    right: 0;
  }
  .pages-header.intro-header .navbar-collapse .nav-link {
    color: #666 !important;
  }

  .dashboard .nav-item {
    margin: 8px 0;
  }
  .dashboard .dash-main {
    margin-top: 150px;
  }
  .dashboard .dash-main .dash-nav {
    display: none;
  }
  .dashboard .dash-main .dash-content {
    padding: 20px;
  }
  .dashboard .address-item .options {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
@media only screen and (max-width: 767.99px) {
  .register .register-header {
    width: 80%;
  }

  .products {
    margin-top: 50px !important;
  }
  .products .filters {
    padding: 50px 20px 80px 20px;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: -100vw;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 550;
    width: 100vw;
    height: calc(100vh - 59px);
  }
  .products .filters .categories {
    height: calc(100vh - 110px);
    overflow-y: auto;
  }
  .products .filters .categories > .form-check:last-child {
    margin-bottom: 80px;
  }
  .products .filters .close-btn {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    font-size: 2em;
  }
  .products .filters .submit-btn {
    bottom: 0;
    left: 0;
    height: 60px;
  }
  .products .filters.open {
    right: 0;
  }
  .products .result .p-search-box {
    width: 90%;
  }
  .products .filter-btn {
    border-radius: 5px;
  }

  .index .intro .slide-text {
    font-size: 3em !important;
  }
}
@media only screen and (min-width: 767.99px) {
  .pages-header .navbar.active {
    top: 0;
  }

  .index .intro .slide-text {
    font-size: 4em;
  }

  .register .register-header {
    width: 40%;
  }

  .contact-us .content {
    background: url(../img/contactus-bg.png) no-repeat bottom center;
    background-size: auto 80%;
  }

  .products .filters {
    border: 1px solid #eee;
    border-radius: 5px;
  }
  .products .filters .categories {
    padding: 20px;
  }
  .products .result .p-search-box {
    width: 70%;
  }
  .products .filter-btn {
    border-radius: 5px 5px 0 0;
  }

  .product-details .product-features > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .product-details .other-products .section-header {
    margin-bottom: 70px;
  }
  .product-details .other-products .farmer-products {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  .dashboard .dash-main {
    height: 100vh;
    margin-top: 59px;
    height: calc(100vh - 59px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .dashboard .dash-main .navigator,
  .dashboard .dash-main .dash-content {
    float: right;
  }
  .dashboard .dash-main .dash-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    border-left: 1px solid #eee;
    width: 200px;
    height: calc(100% - 20px);
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .dashboard .dash-main .dash-nav .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .dashboard .dash-main .dash-nav .nav-item:hover,
  .dashboard .dash-main .dash-nav .nav-item.active {
    padding-right: 10px !important;
  }
  .dashboard .dash-main .dash-nav .nav-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .dashboard .dash-main .dash-content {
    padding: 50px;
    overflow-y: auto;
    width: calc(100% - 200px);
    height: 100%;
  }
  .dashboard .home .user-information .ui-item {
    border-bottom: 1px solid #eee;
  }
  .dashboard .home .user-information .ui-item:nth-child(2n-1) {
    border-left: 1px solid #eee;
  }
  .dashboard .address-item .options {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@font-face {
  font-family: iransans-light;
  src: url(../fonts/iransans-light.woff);
}
@font-face {
  font-family: iransans-regular;
  src: url(../fonts/iransans-regular.woff);
}
@font-face {
  font-family: iransans-medium;
  src: url(../fonts/iransans-medium.woff);
}
@font-face {
  font-family: iransans-bold;
  src: url(../fonts/iransans-bold.woff);
}
@font-face {
  font-family: kalameh-regular;
  src: url(../fonts/kalameh-regular.woff);
}
@font-face {
  font-family: kalameh-bold;
  src: url(../fonts/kalameh-bold.woff);
}
@font-face {
  font-family: kalameh-black;
  src: url(../fonts/kalameh-black.woff);
}
* {
  direction: rtl;
}

html,
body {
  overflow-x: hidden;
}

.ltr {
  direction: ltr;
}

.cursor-pointer {
  cursor: pointer;
}

.outline-none {
  outline: none !important;
}

textarea {
  resize: none !important;
}

a:focus {
  outline: 0;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation .pagination .page-item .page-link {
  border-radius: 2.5px;
  -webkit-box-shadow: 5px 5px 15px #99999950;
  box-shadow: 5px 5px 15px #99999950;
}
.navigation .pagination .page-item.active {
  background: #4caf50;
}
.navigation .pagination .page-item.active .page-link {
  color: white !important;
}

.box-shadow {
  -webkit-box-shadow: 5px 5px 15px #99999915;
  box-shadow: 5px 5px 15px #99999915;
}

.ir-l {
  font-family: iransans-light;
}
.ir-r {
  font-family: iransans-regular !important;
}
.ir-m {
  font-family: iransans-medium;
}
.ir-b {
  font-family: iransans-bold;
}

.k-r {
  font-family: kalameh-regular;
}
.k-b {
  font-family: kalameh-bold;
}
.k-bl {
  font-family: kalameh-black;
}

.c-star {
  color: #ffca28;
}
.c-dark {
  color: #333 !important;
}
.c-regular {
  color: #666 !important;
}
.c-grey {
  color: #999 !important;
}
.c-grey-3 {
  color: #cccccc;
}
.c-label {
  color: #0d47a1;
}

.fs-regular {
  font-size: 1em;
}
.fs-big {
  font-size: 1.2em;
}
.fs-small {
  font-size: 0.9em;
}
.fs-icon {
  font-size: 2em !important;
}

.text-decoration-line {
  text-decoration: line-through;
}

.btn-primary {
  border-radius: 2.5px !important;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
  -webkit-box-shadow: 5px 5px 15px #99999915;
  box-shadow: 5px 5px 15px #99999915;
}

.sp-t,
.sp-y {
  padding-top: 100px;
}
.sp-b,
.sp-y {
  padding-bottom: 100px;
}

.sm-t,
.sm-y {
  margin-top: 100px;
}
.sm-b,
.sm-y {
  margin-bottom: 100px;
}

.bg-body {
  background: #fafafa !important;
}
.bg-footer {
  background: #f6f6f6;
}
.bg-green {
  background: #4caf50;
}
.bg-primary {
  background: #2196f3 !important;
}

.section-header {
  height: 50px;
}
.section-header .title {
  line-height: 50px;
  font-size: 2em;
  background: url(../img/bullet-bg.svg) no-repeat center right, #fafafa;
  background-size: auto 100% !important;
  padding-right: 20px;
  padding-left: 10px;
}
.section-header .more {
  line-height: 50px;
  background: #fafafa;
  padding-right: 10px;
}
.section-header hr {
  z-index: -250;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #eee;
}

.card {
  -webkit-box-shadow: 5px 5px 15px #99999915;
  box-shadow: 5px 5px 15px #99999915;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  -webkit-box-shadow: 5px 5px 15px #99999930;
  box-shadow: 5px 5px 15px #99999930;
}
.card.product-card .card-header .add-favorites {
  top: 0;
  left: 0;
}
.card.product-card .card-header .add-favorites > i {
  text-shadow: 2px 2px 5px #00000030;
  font-size: 2em;
}
.card.product-card .card-header .product-seller {
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.card.product-card .card-header .product-seller .seller-img {
  width: 30%;
  border: 3px solid #ffffff;
}
.card.product-card .card-header .product-seller .seller-name {
  width: 70%;
}
.card.product-card .card-header .product-location {
  bottom: 10px;
  left: 0;
  background: #4caf50;
  padding-left: 10px;
  padding-right: 15px;
  height: 20px;
  line-height: 20px;
  border-radius: 0 10px 10px 0;
}
.card.product-card .card-body {
  padding-top: 20%;
}

input[type="checkbox"] + .check-box-label > i {
  width: 17px;
  height: 17px;
  -webkit-transform: translateY(3.5px);
  -ms-transform: translateY(3.5px);
  transform: translateY(3.5px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
input[type="checkbox"] + .check-box-label > i::before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
input[type="checkbox"]:checked + .check-box-label > i {
  border: 1px solid #666;
}
input[type="checkbox"]:checked + .check-box-label > i::before {
  content: "";
}
input[type="checkbox"]:not(:checked) + .check-box-label > i {
  border: 1px solid #ccc;
}
input[type="checkbox"]:not(:checked) + .check-box-label > i::before {
  content: "";
}

.custom-control-label {
  padding-right: 25px;
}
.custom-control-label::after {
  right: 0;
  left: auto !important;
}
.custom-control-label::before {
  right: 0;
  left: auto !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -500;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  background: transparent;
  width: 100vw;
  height: 100vh;
}
.overlay.active {
  z-index: 600;
  background: #00000020;
}
